Repository marwanhawari/LeetRooms, pull requests merged in 2023-04, with the labels that each got.

#7 feat: add light mode
  extension/src/components/Home.tsx
  extension/src/components/Login.tsx
  extension/src/components/Message.tsx
  extension/src/components/Question.tsx
  extension/src/components/Room.tsx
  extension/src/components/Spinner.tsx
  extension/src/components/buttons/CreateRoomButton.tsx
  extension/src/components/buttons/ExitRoomButton.tsx
  extension/src/components/buttons/JoinRandomRoomButton.tsx
  extension/src/components/buttons/JoinRoomByIdButton.tsx
  extension/src/components/buttons/PlayersButton.tsx
  extension/src/components/buttons/SignOutButton.tsx
  extension/src/content.ts
  extension/src/icons/CheckMarkIcon.tsx
  extension/src/icons/CopyIcon.tsx
  extension/src/icons/PlayerIcon.tsx
  extension/src/icons/SendIcon.tsx
  extension/src/icons/XIcon.tsx
  extension/src/index.css
  extension/src/index.html
  extension/src/public/manifest.json
  extension/src/public/popup.css
  extension/src/public/popup.html
  extension/src/public/popup.js
  extension/tailwind.config.cjs
Labels: extension

#8 chore: remove join random room button and endpoint
  extension/src/components/Home.tsx
  extension/src/components/buttons/JoinRandomRoomButton.tsx
  server/src/api/rooms/rooms.handler.ts
  server/src/api/rooms/rooms.route.ts
Labels: extension, server

#10 fix: update language in popup settings, add a new selector for submit button
  extension/src/content.ts
  extension/src/public/manifest.json
  extension/src/public/popup.html
Labels: extension

#11 feat: add room settings panel
  extension/src/components/Home.tsx
  extension/src/components/buttons/CreateRoomButton.tsx
  extension/src/components/buttons/JoinRoomByIdButton.tsx
  extension/src/components/buttons/RoomSettingsButton.tsx
  extension/src/icons/SettingsIcon.tsx
  extension/src/types/RoomSettings.ts
  extension/tailwind.config.cjs
  server/package.json
  server/prisma/migrations/20230403022139_add_question_tags/migration.sql
  server/prisma/migrations/20230406230430_add_room_settings_to_room_model/migration.sql
  server/prisma/schema.prisma
  server/prisma/seed.ts
  server/src/api/rooms/rooms.handler.ts
  server/src/types/RoomSettings.ts
Labels: extension, server

#12 feat: add scoreboard
  extension/package.json
  extension/src/components/Message.tsx
  extension/src/components/Room.tsx
  extension/src/components/buttons/PlayersButton.tsx
  extension/src/content.ts
  extension/src/icons/AcceptedSubmissionIcon.tsx
  extension/src/icons/AttemptedSubmissionIcon.tsx
  extension/src/icons/GraphIcon.tsx
  extension/src/icons/NoSubmissionIcon.tsx
  extension/src/main.tsx
  extension/src/public/manifest.json
  extension/src/types/Message.ts
  extension/src/types/Question.ts
  server/prisma/migrations/20230305080254_add_submissions/migration.sql
  server/prisma/migrations/20230407054344_unique_constraint_submissions_table/migration.sql
  server/prisma/schema.prisma
  server/src/api/app.ts
  server/src/api/rooms/rooms.handler.ts
  server/src/api/rooms/rooms.model.ts
  server/src/api/submissions/submissions.handler.ts
  server/src/api/submissions/submissions.model.ts
  server/src/api/submissions/submissions.route.ts
  server/src/types/Message.ts
  yarn.lock
Labels: extension, server

#14 feat: select/unselect all topics
  extension/src/components/buttons/PlayersButton.tsx
  extension/src/components/buttons/RoomSettingsButton.tsx
Labels: extension

#13 feat: add room timer
  extension/src/components/Home.tsx
  extension/src/components/Room.tsx
  extension/src/components/Timer.tsx
  extension/src/components/buttons/RoomSettingsButton.tsx
  extension/src/icons/ChevronIcon.tsx
  extension/src/icons/StopwatchIcon.tsx
  extension/src/types/RoomSettings.ts
  extension/src/types/Session.ts
  server/prisma/migrations/20230408031401_add_duration_to_room_model/migration.sql
  server/prisma/schema.prisma
  server/src/api/app.ts
  server/src/api/rooms/rooms.handler.ts
  server/src/types/RoomSettings.ts
  server/src/types/Session.ts
Labels: extension, server

#15 fix: scoreboard ranking algorithm
  extension/src/components/buttons/PlayersButton.tsx
Labels: extension

#18 feat: configure the difficulty of a room
  extension/src/components/buttons/RoomSettingsButton.tsx
  extension/src/types/RoomSettings.ts
  server/src/api/rooms/rooms.handler.ts
  server/src/types/RoomSettings.ts
Labels: extension, server

#19 feat: link to the LeetCode submission page in the scoreboard
  extension/src/components/Room.tsx
  extension/src/components/buttons/PlayersButton.tsx
  extension/src/content.ts
  extension/src/public/background.js
  extension/src/public/manifest.json
  server/prisma/migrations/20230416035924_add_url_column_to_submission_table/migration.sql
  server/prisma/schema.prisma
  server/src/api/rooms/rooms.handler.ts
  server/src/api/submissions/submissions.handler.ts
  server/src/api/submissions/submissions.model.ts
Labels: extension, server

#24 fix: timer sync
  extension/src/components/Timer.tsx
Labels: extension

#31 fix: double timeouts
  server/src/api/app.ts
Labels: server

#32 fix: rank by AC first
  extension/src/components/buttons/PlayersButton.tsx
Labels: extension

#33 fix: prevent duplicate submissions
  extension/src/content.ts
  extension/src/public/background.js
  extension/src/public/manifest.json
Labels: extension

#34 fix: negative time stamps in scoreboard
  extension/src/types/Session.ts
  server/prisma/migrations/20230430000342_add_room_user_table/migration.sql
  server/prisma/schema.prisma
  server/src/api/rooms/rooms.handler.ts
  server/src/types/Session.ts
Labels: extension, server

#35 fix: delay join room message
  extension/src/components/Room.tsx
  server/src/api/rooms/rooms.handler.ts
Labels: extension, server
